@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
    box-sizing: border-box;
}

.container {
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, #514848 0%, #332e2e 100%);
    width: 1920px;
    height: 1080px;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.robot-photo {
    position: absolute;
    width: 25vw;
    height: 47vh;
    left: 704px;
    top: 52px;
}

.hello-text {
    position: absolute;
    width: 819px;
    height: 143px;
    left: 570px;
    top: 580px;

    font-family: "Press Start 2P";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #eae2e2;
}

.second-word {
    color: #99ed70;
    margin-left: 30px;
    margin-right: 30px;
}

.first-word {
    color: #a0c9e4;
    margin-left: 30px;
    margin-right: 30px;
}
